@page
@model Web_Learning.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_Layout"; // Ensuring the layout is applied
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Multipage Education Website Using HTML, CSS & JavaScript</title>

    <!-- Linking css file with the html-->
    <link rel="stylesheet" href="./css/StyleStyle.css">
    <link rel="stylesheet" href="./css/About.css">

    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!--GOOGLE FONTS (MONTSERRAT)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

</head>

<body>

    <!-- Achievements Section Starts-->
    <section  class="about_achievements">
        <div class="container about_achievements-container">
            <div class="about_achievements-left">
                <img src="./images/about achievements.svg" alt="">
            </div>

            <div class="about_achievements-right">
                <h1>
                    Our Achievements
                </h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam possimus illo commodi quaerat nobis eum est in quasi. Error neque id iusto. Aspernatur placeat explicabo hic laborum minus iste mollitia.
                </p>
                <div class="about_achievements_cards">
                   <article class="achievement_card">
                    <span class="achievement_icon">
                        <i class="uil uil-video"></i>
                    </span>
                    <h3>450+</h3>
                    <p>Courses</p>
                   </article>

                   <article class="achievement_card">
                    <span class="achievement_icon">
                        <i class="uil uil-users-alt"></i>
                    </span>
                    <h3>79,000+</h3>
                    <p>Students</p>
                   </article>

                   <article class="achievement_card">
                    <span class="achievement_icon">
                        <i class="uil uil-trophy"></i>
                    </span>
                    <h3>26+</h3>
                    <p>Awards</p>
                   </article>
                    </div>
            </div>
        </div>
    </section>
<!-- Achievements Section Ends-->



<!-- Our TEAM Section Starts-->

<section class="team">
    <h2>Meet Our Team</h2>
    <div class="container team_container">
        <article class="team_member">
            <div class="team_member-image">
                <img src="./images/Darshan.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Darshan Gotame</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                    <a href="https://www.facebook.com/darshan.gotame"><i class="uil uil-facebook-f" target="_blank"></i></a>
                    <a href="https://www.instagram.com/darshan_gotame/"><i class="uil uil-instagram" target="_blank"></i></a>
                    <a href="https://github.com/DarshanGotame"><i class="uil uil-github" target="_blank"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt" target="_blank"></i></a>
            </div>
        </article>

        <article class="team_member">
            <div class="team_member-image">
                <img src="./images/Nikesh-3.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Nikesh Gurung</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                    <a href="https://www.facebook.com/nikesh.guroon#"><i class="uil uil-facebook-f" target="|blank"></i></a>
                    <a href="https://www.instagram.com/nikeshgurung45/"><i class="uil uil-instagram" target="_blank"></i></a>
                    <a href="https://github.com/Nikeshgurung"><i class="uil uil-github" target="_blank"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt" target="_blank"></i></a>
            </div>
        </article>

        <article class="team_member">
            <div class="team_member-image">
                <img src="./images/Pratik.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Pratik Thapa</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                    <a href="https://www.facebook.com/profile.php?id=100077421061092"><i class="uil uil-facebook-f" target="|blank"></i></a>
                    <a href="https://www.instagram.com/pratikmgr__017/"><i class="uil uil-instagram" target="_blank"></i></a>
                    <a href="https://github.com/Kitsune017-bit"><i class="uil uil-github" target="_blank"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt" target="_blank"></i></a>
            </div>
        </article>

        <article class="team_member">
            <div class="team_member-image">
                <img src="./images/Ishwori.jpg" alt="">
            </div>
            <div class="team_member-info">
                <h4>Ishwori Gurung</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                    <a href="https://www.facebook.com/ishwori.gurung.547389"><i class="uil uil-facebook-f" target="|blank"></i></a>
                    <a href="https://www.instagram.com/grg._ishwori/"><i class="uil uil-instagram" target="_blank"></i></a>
                    <a href="https://github.com/Ishworigurung"><i class="uil uil-github" target="_blank"></i></a>
                <a href="#"><i class="uil uil-linkedin-alt" target="_blank"></i></a>
            </div>
        </article>
    </div>
</section>

<!-- Our TEAM Section Ends-->

    <!--Linking JavaScript-->
    <script src="./javascript/main.js"></script>
</body>

